@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1012px;
  margin: 0 auto;
}

.hide {
  display: none;
}

/* shared styles */
.dark01 {
  color: #131313;
}

.dark02 {
  color: #424242;
}

.dark03 {
  color: #727272;
}

.display-flex {
  display: flex;
}

.dark01 {
  color: #131313;
}

.dark02 {
  color: #424242;
}

.dark03 {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.text-align {
  text-align: center;
}

.btn-primary {
  font-size: 0.87rem;
  font-weight: 600;
  color: white;
  background: #FF900E;
  padding: 14px 18px;
  border: none;
  border-radius: 6px;
}

/* header styles */

/* nav styles */
.brand {
  font-weight: 700;
}

.navbar {
  justify-content: space-between;
  padding-top: 35px;
}

.nav-item {
  list-style: none;
  margin-left: 30px; 
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar, .banner {
  max-width: 1012px;
  margin: 0 auto;
}

/* banner-styles */
.banner-title {
  font-size: 2.8rem;
}

.banner-description {
  font-size: 0.7rem;
  margin: 18px 0 22px 0;
}

.banner-content {
  max-width: 605px;
  margin: 0 auto;
  padding: 81px 0 22px 0;
}

.banner-img {
  max-width: 100%;
}

header {
  padding-bottom: 32px;
}

/* team and features style */
.teams {
  align-items: center;
  max-width: 926px;
  margin: 0 auto;
  margin-top: 60px;
  gap: 50px;
}

.team-img-containner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
}

.feature-title {
  font-size: 2rem;
  font-weight: 500;
}

#feature-title-part2 {
  font-size: 2rem;
  font-weight: 700;
}

#feature-title-part3 {
  font-size: 2rem;
  font-weight: 700;
  color: #FF900E;
}

.feature-description {
  margin: 18px 0 24px 0;
}

/* experience style */
.experience-container {
  gap: 100px;
  margin-top: 90px;
}

.experience-text-info {
  margin: auto 0;
}

.experience-title {
  font-size: 2rem;
  font-weight: 700;
  border-left: 4px solid #FF900E;
  padding-left: 15px;
}

.experience-description {
  font-size: 0.7rem;
  margin: 17px 0 25px 0;
}

.experience-box {
  padding: 21px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.experience-box-title {
  font-size: 0.87rem;
}

.experience-box-description {
  font-size: 0.7rem;
}

.experience-img {
  max-width: 100%;
}

#ten-year {
  font-size: 2rem;
  font-weight: 700;
}

#exp {
  font-size: 1rem;
  font-weight: 500;
}

#ten-year-btn {
  line-height: 30px;
  padding: 25px 30px 20px 30px;
  margin-top: -120px;
  margin-left: -60px;
}



/* small screen responsive */
@media screen and (max-width: 576px) {
  body {
    padding: 0 15px;
  }
  
  .navbar, 
  .nav-links, 
  .teams,
  .experience-container {
    flex-direction: column;
  }

  .navbar, 
  .nav-links {
    text-align: center;
  }

  .nav-item {
    margin: 10px 0 0 0;
  }

  .team-img-containner {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature {
    margin-left: 20px;
  }

  .experience-container {
    gap: 30px;
  }

  #ten-year-btn {
    margin: 0 auto;
    margin-top: -60px;
  }
  

}